<!-- <footer>
  <section id="lab_social_icon_footer">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
            <div class="text-left center-block">
                    <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                  <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                  <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                  <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
    </section>
  
    <section id="menu">
      <div class="container">
        <div class="text-left">
          <ul>
            <li><a href="#">About</a></li>
            <li>/</li>
            <li><a href="#">For Business</a></li>
            <li>/</li>
            <li><a href="#">Suggestions</a></li>
            <li>/</li>
            <li><a href="#">Help & FAQs</a></li>
            <li>/</li>
            <li><a href="#">Contacts</a></li>
            <li>/</li>
            <li><a href="#">Pricing</a></li>
            <br>
            <br>
            <li><a href="#"><i class="fa fa-copyright"></i>Copyright 2013 companyname inc.</a></li>
          </ul>
        </div>
      </div>
    </section>
    <p></p>
    <section id="menu">
      <div class="container">
        <div class="text-left">
          <ul>
            <li><a href="#">Privacy</a></li>
            <li>/</li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </section>
  </footer>

 -->

<div class="container my-5 border-top" style="width: 80%">
  <footer class="text-left text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          style="background-color: #fff; color:rgb(164, 36, 58);"
          ><i class="fab fa-twitter"></i
        ></a>

        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          style="background-color: #fff; color:rgb(164, 36, 58);"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          style="background-color: #fff; color:rgb(164, 36, 58);"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </section>
    </div>
    <div class="text-left">
      <ul>
        <li><a href="#">About</a></li>
        <li>/</li>
        <li><a href="#">For Business</a></li>
        <li>/</li>
        <li><a href="#">Suggestions</a></li>
        <li>/</li>
        <li><a href="#">Help & FAQs</a></li>
        <li>/</li>
        <li><a href="#">Contacts</a></li>
        <li>/</li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </div>

    <div class="p-3" style="background-color: rgb(164, 36, 58);">
      © 2020 Copyright 2013 companyname inc.
    </div>
  </footer>
</div>

