.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

.container-fluid{
  width: 80%;
}

h1{
  color: #fff;
  font-size: 40px;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
nav .search_box input {
  border: none;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
}
nav .search_box span {
  color: rgb(194, 23, 51);
  font-size: 20px;
  background: #fff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
nav .search_box span:hover{
  color: #fff;
}
nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: '';
  background: rgb(169, 44, 44);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}
nav .search_box span:hover::after{
  width: 100%;
}

.name{
  margin-top: -5px;
}
.small {
  word-wrap: break-word;
}

::placeholder { 
  color: rgb(169, 44, 44);
  opacity: 1; 
}

[data-badge] {
  background: #d8f5ff;
  border: 0;
  padding: 0.45rem;
  border-radius: 100%;
}
