<div class="content-wrapper">
	<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: rgb(164, 36, 58)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><h1><b>Social</b>Network</h1></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="search_box me-5">
          <input type="search" placeholder="Find" />
          <span class="fa fa-search"></span>
        </li>
        <li>
          <button class="me-3" style="width: 90px; height: 35px">
            <i class="fa-solid fa-arrow-up"></i> Upload
          </button>
        </li>

        <li>
					<button  style="height: 35px;"><i class="fa-solid fa-user"></i></button>
          <button
            type="button"
            class="position-relative btn btn-transparent name"
            style="height: 35px; width: 65px"
          >
            <small style="color: white"
              >Waseem
              Arshaad</small
            >
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
              style="color: black; background-color: antiquewhite"
            >
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

</div>
