<div class="container">
  <body>
    <div class="judul">
      <div class="row">
        <div class="col-6">
          <h1 style="color: #fff">People</h1>
        </div>
        <div class="col-6">
          <p style="color: #fff">View all</p>
        </div>
      </div>
    </div>
    <div class="image-gallery">
      <div class="image-box">
        <img src="" alt="">
        <div class="overlay">
          <div class="details">
            <h1>Waseem Arshad</h1>
            <div class="row">
              <div class="col-6">
                <p>User interface designer</p>
              </div>
              <div class="col-6">
                <p class="small">170000 views</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="" alt="">
        <div class="overlay">
          <div class="details">
            <div class="row">
              <div class="col-6">
                <p>Haseem Arshaad</p>
              </div>
              <div class="col-6">
                <p class="small">170000 views</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box">
       <img src="" alt="">
        <div class="overlay">
          <div class="details">
            <div class="row">
              <div class="col-6">
                <p>Haseem Arshaad</p>
              </div>
              <div class="col-6">
                <p class="small">170000 views</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="" alt="">
        <div class="overlay">
          <div class="details">
            <div class="row">
              <div class="col-6">
                <p>Haseem Arshaad</p>
              </div>
              <div class="col-6">
                <p class="small">170000 views</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box">
        <img src="" alt="">
        <div class="overlay">
          <div class="details">
            <div class="row">
              <div class="col-6">
                <p>Haseem Arshaad</p>
              </div>
              <div class="col-6">
                <p class="small">170000 views</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box border solid">
        <h5 class="text-center mt-4" style="color: #fff">
          <i class="fa-solid fa-arrow-up-from-bracket"></i> Show
          <br />
          your work
        </h5>
        <div class="overlay">
          <div class="details">
            <div class="row">
              <div class="col-6">
                <p></p>
              </div>
              <div class="col-6">
                <p class="small"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

