
<div class="content-wrapper">
  <section style="background:rgb(164, 36, 58); color: #fff;">
    <nav class="stroke">
      
      <ul>
        <li><a href="#">Videos</a></li>
        <li>/</li>
        <li><a href="#">People</a></li>
        <li>/</li>
        <li><a href="#">Documents</a></li>
        <li>/</li>
        <li><a href="#">Events</a></li>
        <li>/</li>
        <li><a href="#">Communities</a></li>
        <li>/</li>
        <li><a href="#">Favorites</a></li>
        <li>/</li>
        <li><a href="#">Channels</a></li>
      </ul>
    </nav>
  </section>
</div>




