<link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

<section style="background:rgb(164, 36, 58); color: #fff;">
  <nav class="stroke">
    <hr>
    <ul>
      <li><a href="#">Videos</a></li>
      <li>/</li>
      <li><a href="#">People</a></li>
      <li>/</li>
      <li><a href="#">Documents</a></li>
      <li>/</li>
      <li><a href="#">Events</a></li>
      <li>/</li>
      <li><a href="#">Communities</a></li>
      <li>/</li>
      <li><a href="#">Favorites</a></li>
      <li>/</li>
      <li><a href="#">Channels</a></li>
    </ul>
    <hr>
  </nav>
</section>


