<!-- <div class="container">
  <div class="row">
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
  </div>
</div> -->

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 me-2"></div>
      <div class="col-md-4">
        <div class="sidebar widget">
          <div class="row">
            <div class="col">
              <h1 style="color: #fff">Channels</h1>
            </div>
            <div class="col-8">
              <p class="view mt-2 ms-5">Browse all channels</p>
            </div>
          </div>
          <div class="container-fluid">
            
          </div>
          <ul class="mb-3 channels">
            <div class="row mb-3"></div>
            <div class="row">
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                  width="150px;"
                />
              </div>
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="row mb-3"></div>
            <div class="row">
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="row mb-3"></div>
            <div class="row">
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="row mb-3"></div>
            <div class="row">
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="row mb-3"></div>
            <div class="row">
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
              <div class="col-6">
                <img
                  src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="row mb-3"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
