<!-- <div class="container">
  <div class="row">
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
  </div>
</div> -->

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 me-2"></div>
      <div class="col-md-4">
        <div class="sidebar widget">
          <div class="row">
            <div class="col">
              <h1 style="color: #fff">Channels</h1>
            </div>
            <div class="col-8">
              <p class="view mt-2 ms-5">Browse all channels</p>
            </div>
          </div>
          <ul>
            <div class="row mb-3"></div>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
